/* style.css */

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: black;
  color: white;
}

/* Additional styles for your specific design */
.judgment-body__section span.judgment-body__number {
  font-weight: bold;
  margin-right: 1em;
}

a {
  text-decoration: none;
  color: #337ab7;
  transition: color 0.2s ease;
}

a:hover {
  color: #23527c;
}

a.dark-mode {
  color: #66d9ef;
}

a.dark-mode:hover {
  color: #3e8e41;
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
      font-size: max(22px, 1.5rem);
  }
}

@media (max-width: 480px) {
  body {
      font-size: max(22px, 1.8rem);
  }
}

body.dark-mode {
  /* Adjust other elements' styles for dark mode */
  a {
      color: #66d9ef;
  }
  a:hover {
      color: #3e8e41;
  }
}